.tile-nodata {
    background-color: $red;
    opacity: .3;
}

.art {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tile-container {
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    .tile-list {
        margin: 10px 0;
        position: relative;
    }
}

.art-palette-line {
    padding: 4px 8px;
    font-size: 11px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    input {
        width: 28px;
        text-align: center;
        background: transparent;
        border: 1px solid rgba(white, .2);
        color: inherit;
        font-size: 11px;
        padding: 2px;
        border-radius: 2px;
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}

.active-selection {
    z-index: 1;
    pointer-events: none;
    position: relative;
    margin-top: -5px;
    width: calc(100% + 10px);
}
