.tile-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    image-rendering: pixelated;
}
.tile-nodata {
    background-color: $red;
    opacity: .3;
}

.art {
    height: 100%;
    display: flex;
    flex-direction: column;
    .autoWrapper {
        flex-grow: 1;
        width: 100%;
        .ReactVirtualized__List:focus {
            outline: none;
        }
        .listRow {
            display: flex;
        }
    }

}
