.menu-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
}

.file-object {
    width: 100%;
    padding: 10px;

    .load-ref {
        display: flex;
    }

    .saveload {
        button {
            margin-left: 5px;
        }
    }

    .file {
        margin-bottom: 10px;
    }

    .art-summary {
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .art-numbers {
            color: $white2;
        }
    }

    .art-body {
        border-left: 1px solid $white2;
        padding-left: 10px;
        margin-left: 3px;
    }

    .art-fields {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        .art-field {
            display: flex;
            flex-direction: column;
            flex: 0 0 calc(50% - 5px);
            min-width: 0;
            margin-bottom: 5px;

            &:nth-child(odd) {
                margin-right: 10px;
            }

            span {
                color: $white2;
            }

            input {
                width: 100%;
            }
        }
    }
}
