.menu-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
}

.file-object {
    width: 100%;
    padding: 10px;

    .load-ref {
        display: flex;
    }

    .saveload {
        button {
            margin-left: 5px;
        }
    }

    .file {
        margin-bottom: 10px;
    }

    .art-summary {
        cursor: pointer;

        .art-numbers {
            color: $white2;
        }
    }

    .art-fields {
        display: flex;
        margin-bottom: 10px;

        .art-field {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-width: 0;
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }

            span {
                color: $white2;
            }

            input {
                width: 100%;
            }
        }
    }
}
