.mapping {
    // also used in sprites.scss
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mappings {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.mappingContainer {
    position: relative;
    background-image: url(../images/t.png);
    overflow: hidden;

    .mapping {
        &:hover {
            outline: 3px solid $red;
            opacity: .5;
            filter: blur(1px);
        }
    }
}

.hud {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    text-align: right;
    font-size: 12px;
    span {
        font-weight: 200;
    }

}
