.mapping {
    // also used in sprites.scss
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mappings {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.mappingContainer {
    position: relative;
    background-image: url(../images/t.png);
    overflow: hidden;

    .mapping-wrapper .mapping {
        &:hover {
            outline: 3px solid $blue;
            opacity: .5;
            filter: blur(1px);
        }
    }
}

.commands {
    .group {
        margin: 5px;
    }
    .item {
        width: 200px;
    }
}

.new-mapping {
    position: absolute;
    background-color: $black;
    top: 15px;
    left: 15px;
    box-shadow: 2px 2px 4px $black;
    padding: 5px;
    z-index: 1;
    .mapping {
        position: relative;
        margin: 5px;
        border: 1px solid $grey;
    }
    .group {
        display: flex;
    }
}

.new-floating-piece .mapping {
    z-index: 2;
    border: 1px solid transparent;
    background: rgba(97, 175, 239, 0.3);
}

.raw-mapping-data {
    position: absolute;
    z-index: 2;
    background-color: $black;
    left: 15px;
    right: 15px;
    box-shadow: 2px 2px 4px $black;
    padding: 15px;
}

.raw-dplc-data {
    margin-top: 15px;
}

.mapping-data {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $black;
    border: 1px solid $grey;
    padding: 5px;
    z-index: 3;
    margin-bottom: 15px;

    input, .Dropdown-menu {
        width: 32px;
        text-align: center;
    }
    .datum {
        margin: 5px;
        .label {
            font-size: 10px;
            text-align: center;
            margin-bottom: 5px;
        }
    }
    .properties {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex: 20;
    }
    .handle {
        path {
            fill: $grey;
        }
        flex: 2;
    }
    .item {
        width: 50px;
        text-align: center;
    }
    .dplc-tiles {
        margin: 0 15px;
        display: flex;
        flex-wrap: wrap;
        flex: 10;
    }
}


.hud {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    text-align: right;
    font-size: 12px;
    span {
        font-weight: 200;
    }

    .Dropdown-placeholder, .Dropdown-menu {
        width: 50px;
        text-align: center;
    }
}

.guidelines {
    .x {
        height: 100%;
        position: absolute;
        cursor: ew-resize;
        border-left: 1px solid black;
        width: 5px;
    }
    .y {
        height: 5px;
        width: 100%;
        position: absolute;
        cursor: ns-resize;
        border-top: 1px solid black;
    }
}
