.mapping {
    // also used in sprites.scss
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mappings {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.mappingContainer {
    position: relative;
    background-image: url(../images/t.png);
    overflow: hidden;

    .mapping-wrapper.noselect .mapping {
        &:hover {
            background-color: $magenta;
            opacity: .5;
            filter: blur(1px);
        }
    }
}

.commands {
    .group {
        margin: 5px;
    }
    .item {
        width: 210px;
    }
}

.new-mapping {
    top: 15px;
    left: 15px;
    padding: 5px;
    .mapping {
        position: relative;
        margin: 5px;
        border: 1px solid $grey;
    }
    .group {
        display: flex;
    }
    .row {
        padding: 2px 5px;
    }
    .autodismiss {
        display: flex;
        justify-content: flex-end;
        span {
            margin-right: 5px;
            line-height: 1.3em;
        }
    }
}

.new-floating-piece .mapping {
    box-sizing: content-box;
    z-index: 2;
    border: 1px solid transparent;
    background: rgba(97, 175, 239, 0.3);
}

.hud {
    box-sizing: content-box;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    text-align: right;
    font-size: 12px;
    span {
        font-weight: 200;
    }

    .Dropdown-placeholder, .Dropdown-menu {
        width: 50px;
        text-align: center;
    }
}

.guidelines {
    .x {
        height: 100%;
        position: absolute;
        cursor: ew-resize;
        border-left: 1px solid black;
        width: 5px;
    }
    .y {
        height: 5px;
        width: 100%;
        position: absolute;
        cursor: ns-resize;
        border-top: 1px solid black;
    }
}
