.metadata-piece {
    background: $black;
    border: 1px solid $grey;
    padding: 10px 15px;
    margin-bottom: 15px;

    .metadata-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 8px 0;
    }

    .metadata-table {
        width: 100%;
        border-collapse: collapse;

        tr + tr {
            border-top: 1px solid $grey;
        }

        td {
            padding: 4px 8px;
            vertical-align: middle;
        }

        .metadata-label {
            font-size: 11px;
            color: $white;
            width: 100px;
        }

        .metadata-value {
            input {
                width: 100%;
            }
        }

        .metadata-action {
            width: 30px;
            text-align: right;
        }
    }

    .metadata-sub-piece {
        margin-left: 15px;
        margin-bottom: 8px;
    }
}
