.project-config {
    padding: 20px;
    max-width: 60vw;
    min-width: 600px;
    margin: 0 auto;

    h1 {
        text-align: center;
        font-family: Hack Bold;
        margin-bottom: 80px;
    }

    .panel {
        margin: 10px 0;
    }

    .indent {
        margin-left: 10px;
        background-color: $black;
        border: 1px solid $white2;
        margin: 5px;
        padding: 5px;
    }

    .object-header {
        margin-top: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .options {
        margin: 10px;
        .select {
            margin-bottom: 10px;
        }
    }

    .custom {
        padding-bottom: 10px;

        .preset {
            @extend .row;
            a {
                margin-left: 5px;
            }
            margin-bottom: 10px;
        }
    }

    .actions {
        @extend .row;
        margin: 10px 10px 5px 10px;
        align-items: flex-end;
    }

}
