.rotsprite {
    z-index: 3;
    // left: 15px;
    // right: 15px;

    canvas {
        background-image: url(../images/t.png);
        border: 3px solid $grey;
        width: 400px;
        height: 400px;
    }

    .close {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}
