$baseSize: 200px;

.sprites {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sprite {
    position: relative;
    height: $baseSize;
    width: $baseSize;
    flex-shrink: 0;
    margin: 5px;
    overflow: hidden;

    .index {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 10px;
    }

    .blank {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 10px;
        font-weight: bold;
    }

}
