$baseSize: 200px;

.spriteList {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.spriteSortContainer {
    width: 100%;
    overflow: scroll;
    flex-grow: 1;
}

.sprites {
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    justify-content: center;
}

.sprite {
    position: relative;
    height: $baseSize;
    width: $baseSize;
    margin: 5px;
    overflow: hidden;
    &:after {
        content: '';
        margin: auto;
    }

    .index {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 10px;
    }

    .blank {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 10px;
        font-weight: bold;
    }

}
