.item {
    color: $white;
    padding: 2px 5px;
    margin: 2px 0;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row-gap {
    @extend .row;
    margin-right: -5px;
    > div {
        margin-right: 5px;
    }
}

.panel {
    background-color: $black;
    border: 1px solid $white2;
}

input {
    background-color: $black;
    border: 1px solid $white2;
    color: $white;
    font-family: Hack Bold;
    padding: 2px 5px;
    width: 150px;
    &:placeholder {
        color: $white2;
    }
    &:focus {
        outline: none;
    }
}

.select {
    .Dropdown-placeholder {
        @extend input;
        width: 148px;
    }
    .Dropdown-menu {
        position: absolute;
        border: 1px solid $white2;
        color: $white;
        padding: 5px;
        width: 148px;
        margin-top: -1px;
        background-color: $black;
        z-index: 1;
    }
    .Dropdown-option:hover {
        background-color: $grey;
    }
}

.file {
    .dropzone {
        border: 2px dashed $grey;
        padding: 15px;
        border-radius: 5px;
        text-align: center;
    }
    .clear {
        color: $grey;
        font-family: Hack Bold;
    }
    .dragging {
        background-color: $grey;
    }
}

.slider {
    margin: 0;
    position: relative;

    input {
        background: none;
        box-shadow: none;
        padding: 0 0px;
        margin: 0;
        width: 100%;
        max-width: none;
        -webkit-appearance: none;
        height: 10px;
        border: none;
        background-color: $grey;
    }

    input::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: $white;
        border: none;
        width: 15px;
        height: 10px;
    }

}
