@font-face {
  font-family: 'Hack Regular';
  src: url("../fonts/hack-regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Hack Bold';
  src: url("../fonts/hack-bold-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Hack Italic';
  src: url("../fonts/hack-italic-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Hack Bold Italic';
  src: url("../fonts/hack-bolditalic-webfont.ttf") format("truetype"); }

.item {
  color: #ABB2BF;
  padding: 2px 5px;
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
  width: 150px; }

.center, .project-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.row, .project-config .custom .preset, .project-config .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.panel {
  background-color: #282C34;
  border: 1px solid #5C6370; }

input, .select .Dropdown-placeholder {
  background-color: #282C34;
  border: 1px solid #5C6370;
  color: #ABB2BF;
  font-family: Hack Bold;
  padding: 2px 5px;
  width: 150px; }
  input:placeholder, .select .Dropdown-placeholder:placeholder {
    color: #5C6370; }
  input:focus, .select .Dropdown-placeholder:focus {
    outline: none; }

.select .Dropdown-menu {
  position: absolute;
  border: 1px solid #5C6370;
  color: #ABB2BF;
  padding: 5px;
  width: 150px;
  margin-top: -1px;
  background-color: #282C34;
  z-index: 1; }

.select .Dropdown-option:hover {
  background-color: #4E5462; }

.file .dropzone {
  border: 2px dashed #4E5462;
  padding: 15px;
  border-radius: 5px;
  text-align: center; }

.file .clear {
  color: #4E5462;
  font-family: Hack Bold; }

.file .dragging {
  background-color: #4E5462; }

.flexlayout__layout {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden; }

.flexlayout__splitter {
  background-color: #4E5462;
  opacity: .2; }

.flexlayout__splitter:hover {
  opacity: .5; }

.flexlayout__splitter_drag {
  border-radius: 5px;
  background-color: #4E5462;
  z-index: 1000; }

.flexlayout__outline_rect {
  position: absolute;
  cursor: move;
  border: 2px solid #61AFEF;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
  box-sizing: border-box; }

.flexlayout__outline_rect_edge {
  cursor: move;
  border: 2px solid #C678DD;
  z-index: 1000;
  box-sizing: border-box; }

.flexlayout__edge_rect {
  position: absolute;
  z-index: 1000;
  background-color: #5C6370; }

.flexlayout__drag_rect {
  position: absolute;
  cursor: move;
  z-index: 1000;
  box-sizing: border-box;
  background-color: #5C6370;
  opacity: 0.9;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 5px;
  word-wrap: break-word; }

.flexlayout__tabset {
  overflow: hidden; }

.flexlayout__tab {
  overflow: auto;
  position: absolute; }

.flexlayout__tab_button {
  padding: 4px 8px 4px 8px;
  margin: 0px 3px;
  float: left;
  vertical-align: top;
  box-sizing: border-box; }

.flexlayout__tab_button--selected {
  color: #ABB2BF;
  background-color: #282C34; }

.flexlayout__tab_button--unselected {
  color: #4E5462;
  background-color: #1f2228; }

.flexlayout__tab_button_leading {
  float: left;
  display: inline-block; }

.flexlayout__tab_button_content {
  float: left;
  display: inline-block;
  font-size: 12px; }

.flexlayout__tab_button_textbox {
  float: left;
  border: none;
  color: lightgreen;
  background-color: #222; }

.flexlayout__tab_button_textbox:focus {
  outline: none; }

.flexlayout__tab_button_trailing {
  float: left;
  display: inline-block;
  margin-left: 5px;
  margin-top: 3px;
  width: 8px;
  height: 8px; }

.flexlayout__tab_button:hover .flexlayout__tab_button_trailing,
.flexlayout__tab_button--selected .flexlayout__tab_button_trailing {
  background: transparent url("../images/close_white.png") no-repeat center; }

.flexlayout__tab_button_overflow {
  float: left;
  width: 20px;
  height: 15px;
  margin-top: 2px;
  padding-left: 12px;
  border: none;
  font-size: 10px;
  color: lightgray;
  font-family: Arial, sans-serif;
  background: transparent url("../images/more.png") no-repeat left; }

.flexlayout__tabset_header {
  position: absolute;
  left: 0;
  right: 0;
  padding: 3px 3px 3px 5px;
  box-sizing: border-box; }

.flexlayout__tab_header_inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10000px; }

.flexlayout__tab_header_outer {
  background-color: #0d0f11;
  position: absolute;
  left: 0;
  right: 0;
  /*top: 0px;*/
  overflow: hidden; }

.flexlayout__tab_toolbar {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0; }

.flexlayout__tab_toolbar_button-min {
  width: 20px;
  height: 20px;
  border: none;
  outline-width: 0;
  background: transparent url("../images/maximize.png") no-repeat center; }

.flexlayout__tab_toolbar_button-max {
  width: 20px;
  height: 20px;
  border: none;
  outline-width: 0;
  background: transparent url("../images/restore.png") no-repeat center; }

.flexlayout__popup_menu_item {
  padding: 2px 10px 2px 10px;
  color: #ddd; }

.flexlayout__popup_menu_item:hover {
  background-color: #444444; }

.flexlayout__popup_menu_container {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #555;
  background: #222;
  border-radius: 3px;
  position: absolute;
  z-index: 1000; }

.flexlayout__border_top {
  background-color: black;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  overflow: hidden; }

.flexlayout__border_bottom {
  background-color: black;
  border-top: 1px solid #333;
  box-sizing: border-box;
  overflow: hidden; }

.flexlayout__border_left {
  background-color: black;
  border-right: 1px solid #333;
  box-sizing: border-box;
  overflow: hidden; }

.flexlayout__border_right {
  background-color: black;
  border-left: 1px solid #333;
  box-sizing: border-box;
  overflow: hidden; }

.flexlayout__border_inner_bottom {
  display: flex; }

.flexlayout__border_inner_left {
  position: absolute;
  white-space: nowrap;
  right: 23px;
  transform-origin: top right;
  transform: rotate(-90deg); }

.flexlayout__border_inner_right {
  position: absolute;
  white-space: nowrap;
  left: 23px;
  transform-origin: top left;
  transform: rotate(90deg); }

.flexlayout__border_button {
  background-color: #222;
  color: white;
  display: inline-block;
  white-space: nowrap;
  padding: 2px 8px 3px 8px;
  margin: 2px;
  vertical-align: top;
  box-sizing: border-box; }

.flexlayout__border_button--selected {
  color: #ddd;
  background-color: #222; }

.flexlayout__border_button--unselected {
  color: gray; }

.flexlayout__border_button_leading {
  float: left;
  display: inline; }

.flexlayout__border_button_content {
  display: inline-block; }

.flexlayout__border_button_textbox {
  float: left;
  border: none;
  color: green;
  background-color: #ddd; }

.flexlayout__border_button_textbox:focus {
  outline: none; }

.flexlayout__border_button_trailing {
  display: inline-block;
  margin-left: 5px;
  margin-top: 3px;
  width: 8px;
  height: 8px; }

.flexlayout__border_button:hover .flexlayout__border_button_trailing,
.flexlayout__border_button--selected .flexlayout__border_button_trailing {
  background: transparent url("../images/close_white.png") no-repeat center; }

.flexlayout__border_toolbar_left {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0; }

.flexlayout__border_toolbar_right {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0; }

.flexlayout__border_toolbar_top {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0; }

.flexlayout__border_toolbar_bottom {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0; }

.project-menu {
  width: 100vw;
  height: 100vh; }
  .project-menu .menu-item {
    text-align: center;
    background-color: #98C379;
    color: #282C34;
    font-family: Hack Bold;
    padding: 2px 5px;
    margin: 5px;
    width: 200px;
    font-size: 14px;
    word-break: break-word; }
  .project-menu input, .project-menu .select .Dropdown-placeholder, .select .project-menu .Dropdown-placeholder {
    margin: 4px;
    margin-bottom: 0px;
    width: 200px; }

.project-config {
  padding: 20px;
  max-width: 60vw;
  min-width: 600px;
  margin: 0 auto; }
  .project-config h1 {
    text-align: center;
    font-family: Hack Bold;
    margin-bottom: 80px; }
  .project-config .panel {
    margin: 10px 0; }
  .project-config .indent {
    margin-left: 10px;
    background-color: #282C34;
    border: 1px solid #5C6370;
    margin: 5px;
    padding: 5px; }
  .project-config .object-header {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px; }
  .project-config .options {
    margin: 10px; }
    .project-config .options .select {
      margin-bottom: 10px; }
  .project-config .custom {
    padding-bottom: 10px; }
    .project-config .custom .preset {
      margin-bottom: 10px; }
      .project-config .custom .preset a {
        margin-left: 5px; }
  .project-config .actions {
    margin: 10px 10px 5px 10px;
    align-items: flex-end; }

.tile-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.tile {
  image-rendering: pixelated; }

html {
  user-select: none;
  overflow: hidden;
  cursor: default; }

img {
  -webkit-user-drag: none;
  user-drag: none; }

body {
  margin: 0;
  background-color: #282C34;
  color: #ABB2BF;
  font-size: 14px;
  font-family: Hack Regular; }

a {
  color: #61AFEF; }

.nuke {
  opacity: 0.5;
  transform: scale(1.9);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45vw;
  z-index: -1; }

::-webkit-scrollbar {
  background-color: #282C34; }
  ::-webkit-scrollbar:vertical {
    width: 10px; }
  ::-webkit-scrollbar:horizontal {
    height: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #4E5462; }

::-webkit-scrollbar-corner {
  display: none; }

::-webkit-scrollbar-resizer {
  display: none; }
