@import './variables.scss';
@import './fonts.scss';
@import './components/project-menu.scss';
@import './components/project-tree.scss';

html {
    user-select: none;
    overflow: hidden;
    cursor: default;
}

img {
    -webkit-user-drag: none;
    user-drag: none;
}

body {
    margin: 0;
    background-color: $black;
    color: $white;
    font-size: 14px;
    font-family: Hack Regular;
}

input {
    background-color: $black;
    border: 1px solid $white2;
    color: $white;
    font-family: Hack Bold;
    padding: 2px 5px;
    &::placeholder {
        color: $white2;
    }
    &:focus {
        outline: none;
    }
}

.nuke {
    // opacity: 0.5;
    transform: scale(1.9);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45vw;
    z-index: -1;
}

p {
    color: $grey;
    font-family: Hack Bold;
}
