$black: #282C34;
$grey: #4E5462;
$white2: #5C6370;
$white: #ABB2BF;
$red: #E06C75;
$red2: #BE5046;
$green: #98C379;
$yellow: #E5C07B;
$orange: #D19A66;
$blue: #61AFEF;
$magenta: #C678DD;
$scrollbarWidth: 10px;
$basePadding: 20px;

.blue { color: $blue }
.grey { color: $grey }
.white2 { color: $white2 }
.white { color: $white }
.red { color: $red }
.red2 { color: $red2 }
.green { color: $green }
.yellow { color: $yellow }
.orange { color: $orange }
.magenta { color: $magenta }
