$black: #282C34;
$grey: #4E5462;
$white2: #5C6370;
$white: #ABB2BF;
$red: #E06C75;
$red2: #BE5046;
$green: #98C379;
$yellow: #E5C07B;
$yellow2: #D19A66;
$blue: #61AFEF;
$magenta: #C678DD;
$scrollbarWidth: 10px;
$basePadding: 20px;
